

.jet-list-container {
  padding: 20px;
  background-color: #f5f5f5; 
}

.jet-list-title {
  text-align: center;
  font-size: 2.5em;
  color: #2c3e50; 
  margin-bottom: 90px;
  font-family: 'Arial', sans-serif; 
}

.jet-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.jet-card {
  background: white;
  border-radius: 12px; 
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1); 
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s; 
}

.jet-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2); 
}

.jet-image-wrapper {
  height: 220px; 
  overflow: hidden;
}

.jet-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s; 
}

.jet-card:hover .jet-image {
  transform: scale(1.1); 
}

.jet-info {
  padding: 20px; 
}

.jet-model {
  font-size: 1.6em;
  color: black; 
  margin: 0;
  font-weight: bold; 
}

.jet-manufacturer {
  font-size: 1.2em;
  color: #7f8c8d; 
}

.jet-details {
  margin-top: 10px;
}

.jet-details p {
  margin: 5px 0;
  color: #34495e; 
}

.btn {
  background-color:gray; 
  color: white;
  border: none;
  padding: 12px 18px; 
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold; 
  transition: background-color 0.3s, transform 0.3s; 
}

.btn:hover {
  background-color: black; 
  transform: translateY(-2px);
}

.price{
  font-weight: bold;
  font-size: 0.5rem;
}